@use "mixins.scss" as mixins;

.feedback-textarea {
  resize: none;
  height: 130px;
}

.stars {
  cursor: pointer;
  flex-direction: row-reverse;
  width: fit-content;
}

.star-item {
  position: relative;
  border: none;

  &:hover .star,
  &:hover ~ & .star {
    color: var(--regular-color);
  }

  &.colored .filledStar,
  &.colored ~ & .filledStar {
    width: 16px;
    height: 16px;
    color: var(--regular-color);
  }
}

.filledStar {
  width: 16px;
  height: 16px;
  stroke: var(--regular-color);
  color: transparent;
}

.star {
  color: transparent;
}

.star-radio {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.feedback-submit {
  max-width: none;
  width: 100%;
  margin-top: 48px;
}
