@if(isSpecUrl){
<section class="subscribe">
  <div class="container">
    <div class="subscribe-description">
      <h3 class="h3 mb24">Join Our Newsletter</h3>

      <p class="text">
        We love to surprise our subscribers with occasional gifts.
      </p>
    </div>

    <app-subscribe-form></app-subscribe-form>
  </div>
</section>
}

<footer class="footer" [class.isSpec]="!isSpecUrl">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-first">
        <a routerLink="/" class="footer-full-logo-wrap mb12">
          <div class="footer-logo-wrapper">
            <img src="assets/images/logo.svg" alt="Shopverse Logo" class="footer-logo" />
          </div>
          <span class="footer-logo-text">Shopverse</span>
        </a>

        <p class="footer-description mb32">
          Shopverse is a website for practical project-based learning.
        </p>

        <ul class="list icons-list">
          <li class="item">
            <a class="link">
              <img src="assets/images/github-icon.svg" alt="" class="icon" />
            </a>
          </li>
          <li class="item">
            <a class="link">
              <img src="assets/images/insta-icon.svg" alt="" class="icon" />
            </a>
          </li>
          <li class="item">
            <a class="link">
              <img src="assets/images/youtube-icon.svg" alt="" class="icon" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-second">
        <ul class="list footer-list-menu">
          <li class="footer-list-menu-item">
            <p class="footer-menu-title">Support</p>

            <ul class="list footer-sub-menu-list">
              <li>
                <a class="link">FAQ</a>
              </li>
              <li>
                <a class="link">Terms of use</a>
              </li>
              <li>
                <a class="link">Privacy Policy</a>
              </li>
            </ul>
          </li>
          <li class="footer-list-menu-item">
            <p class="footer-menu-title">Company</p>

            <ul class="list footer-sub-menu-list">
              <li>
                <a class="link">About us</a>
              </li>
              <li>
                <a class="link">Contact</a>
              </li>
              <li>
                <a class="link">Careers</a>
              </li>
            </ul>
          </li>
          <li class="footer-list-menu-item">
            <p class="footer-menu-title">Shop</p>

            <ul class="list footer-sub-menu-list">
              <li>
                <a class="link">My Account</a>
              </li>
              <li>
                <a class="link">Checkout</a>
              </li>
              <li>
                <a class="link" routerLink="cart">Cart</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer-third">
        <p class="footer-menu-title">ACCEPTED PAYMENTS</p>

        <ul class="list icons-list">
          <li class="item">
            <a class="link">
              <img src="assets/images/master-card-icon.svg" alt="" class="icon" />
            </a>
          </li>
          <li class="item">
            <a class="link">
              <img src="assets/images/amex-icon.svg" alt="" class="icon" />
            </a>
          </li>
          <li class="item">
            <a class="link">
              <img src="assets/images/visa-icon.svg" alt="" class="icon" />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© {{currenYear}} Shopverse. All rights reserved.</p>
    </div>
  </div>
</footer>
