:host {
  display: block;
  min-height: 450px;
  padding: 20px 0 40px;

  .container {
    display: grid;
    grid-template-columns: 1fr 340px;
    column-gap: 120px;
  }
}

.cart-items-title {
  padding: 18px 0;
  border-bottom: 1px solid var(--light-color);
  color: var(--primary-color);
}

.cart-order-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.cart-order-summary-wrapp {
  border-radius: 4px;
  border: 1px solid var(--light-color);
  padding: 32px 24px;
}

.summary-btn {
  max-width: none;
  font-weight: 500;
}

.continue-shopping {
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid var(--primary-color);
  text-decoration: none;
}
