:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  margin-top: -24px;
}

.login-form {
  width: 100%;
}

.form-field-wrapper {
  width: 100%;
}

.login-btn {
  max-width: none;
}

.sign-up-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.example-data-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-word {
  color: var(--error-color-text);
}
