@use "./app/styles/margins.scss";
@use "mixins.scss" as mixins;

:root {
  --primary-color: #0e1422;
  --regular-color: #5c5f6a;
  --placeholder-color: #878a92;
  --light-color: #e6e7e8;
  --white-color: #ffffff;
  --blue-color: #4078ff;
  --text-color: #474b57;

  --background-primary-color: #f6f6f6;
  --background-light-color: #f0f1ff;
  --background-green-color: #007100;
  --background-dark-green-color: #016c01;

  --light-transparent-white-color: #ffffffab;

  --box-shadow-standart: 1px 1px 7px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 3px 3px 10px rgba(0, 0, 0, 0.2);

  --transition-standart: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: "Manrope";
  font-weight: 900;
  font-style: normal;
  src: url("assets/fonts/Manrope-ExtraBold.ttf") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.75;
  font-family: "Inter", sans-serif;
  color: var(--regular-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  background: none;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.7px;
  color: var(--primary-color);
}

.h3 {
  font-size: 24px;
  font-weight: 700;
}

.h5 {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
}

.subtitle {
  color: var(--placeholder-color);
  font-size: 12px;
  letter-spacing: 0.6px;
}

.text {
  color: var(--text-color);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 6px;
  margin-left: 14px;
  @include mixins.background-img-center("arrow.svg");

  &.arrow-right {
    transform: rotate(-90deg);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9.5px 24px;
  background: var(--primary-color);
  border-radius: 4px;
  color: var(--white-color);
  border: none;
  text-decoration: none;
  max-width: 180px;
  width: 100%;

  .arrow-right {
    display: inline-block;
    width: 13px;
    height: 13px;
    @include mixins.background-img-center("arrow-right.svg");
    background-size: contain;
    margin-left: 17px;
  }
}

.circled {
  padding: 2px 16px;
  @include mixins.fsize-fweight-lheight();
  border-radius: 100px;
  border: 1px solid var(--light-color);
}

.category-btn {
  border: none;
  color: var(--text-color);

  &.circled {
    border: 1px solid var(--light-color);
  }
}

.input {
  padding: 10px 15px;
  border: 1px solid var(--light-color);
  border-radius: 6px;

  ::placeholder {
    color: var(--placeholder-color);
  }
}

.card-share {
  display: block;
  width: 24px;
  height: 24px;
  @include mixins.background-img-center("share.svg");
}

.whish-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  color: var(--regular-color);

  &:hover .whish-icon {
    fill: red;
    color: red;
  }
}

.whish-icon {
  width: 20px;
  height: 20px;
  fill: none;
}

.dexcription-wrapper {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.tab-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 240px;
  width: 100%;
}

.tab-item {
  border-radius: 8px;
  overflow: hidden;

  &.active {
    background: var(--background-primary-color);
  }
}

.tab-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 24px;
  width: 100%;
  border: none;
}

.tab-text {
  color: var(--primary-color);
  font-weight: 500;
}

.tab-icon-wrapper {
  color: transparent;
  stroke: var(--regular-color);
  stroke-width: 2px;
}
.tab-icon {
  width: 16px;
  height: 16px;
}

.stars {
  display: flex;
  gap: 4px;
  align-items: center;
}

.star {
  width: 16px;
  height: 16px;
  stroke: var(--regular-color);
}

.empty-star {
  color: transparent;
  stroke: var(--regular-color);
}

.overflow-hidden {
  overflow: hidden;
}

.cross {
  position: relative;
  width: 22px;
  height: 22px;
  border: none;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--regular-color);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.select-wrapper {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-color);
}

.select-container {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
  margin-left: auto;
  width: fit-content;
}

.select-title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.6px;
}

.select-arrow {
  width: 13px;
  height: 13px;
}

.search-sub-title {
  font-weight: 500;
  color: var(--primary-color);
}

.show-more-btn {
  border: none;
  color: var(--text-color);
  @include mixins.fsize-fweight-lheight();
  text-decoration: underline;
}
