.checkout-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.form-field-wrapper {
  margin: 0;
}

.full-row {
  grid-column: 1 / 3;
}

label {
  cursor: pointer;
}

.input,
.select {
  height: 48px;
}

.select {
  padding: 10px;
  border: 1px solid var(--light-color);
  border-radius: 6px;
}

.input {
  &.ng-dirty.ng-invalid {
    border-color: var(--error-color-text);
  }
}

.row {
  display: flex;
  gap: 15px;
  align-items: center;
}
