@if(product){

<a [routerLink]="linkProduct" class="product-image-link">
  <div class="product-image">
    <img [src]="product.thumbnail" alt="" class="product-image-img" />
  </div>
</a>

<div class="product-info">
  <a [routerLink]="linkProduct" class="product-title-link">
    <span class="product-title">{{product.title}}</span>
  </a>

  <div class="product-info-price">
    <span class="circled">IN STOCK</span>

    <span class="product-price">{{product.price | currency}}</span>

    <button
      type="button"
      class="to-cart"
      title="Add to cart"
      (click)="addToCart()"
    >
      <img src="assets/images/cart.svg" alt="" class="cart-icon" />
    </button>
  </div>
</div>
}
