:host {
  display: grid;
  grid-template-rows: auto 1fr;
  width: fit-content;
  height: 100%;
  box-shadow: var(--box-shadow-standart);
  transition: box-shadow var(--transition-standart);

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }
}

.product-header {
  position: relative;

  .favorite-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
  }
}

.product-image-link {
  display: block;
  cursor: pointer;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 312px;
  background-color: var(--background-primary-color);
}

.product-image-img {
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 24px 16px;
}

.product-title-link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.product-info-price {
  display: flex;
  gap: 16px;
  align-items: center;
}

.product-title {
  font-weight: 500;
  color: var(--primary-color);
}

.product-price {
  color: var(--text-color);
}

.to-cart {
  padding: 7px;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid var(--placeholder-color);
  transition: transform var(--transition-standart);

  .cart-icon {
    width: 15px;
  }

  &:hover {
    transform: scale(1.1);
  }
}
